<div
  class="flex flex-col full-height dashboard-wrapper"
  [class.theme-light]="!darkTheme"
  [class.theme-dark]="darkTheme"
>
  <header class="header flex flex-between flex-align-center">
    <div class="flex flex-align-center">
      <img class="logo" *ngIf="darkTheme" src="assets/growth-light.svg" />
      <img class="logo" *ngIf="!darkTheme" src="assets/growth-dark.svg" />
      <h2 class="logo-text">Stocks - Live</h2>
    </div>
    <div class="flex flex-align-center profile-text relative">
      <div class="flex flex-align-center">
        <div class="capitalize">switch theme</div>
        <div class="toggle-switch">
          <label class="switch">
            <input
              type="checkbox"
              [checked]="!darkTheme"
              (change)="darkTheme = !darkTheme; changeLabelColours()"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </header>

  <div class="full-height flex scroll dashboard-container">
    <div class="form-sidebar scroll">
      <div class="add-ticker-section mb-2">
        <div class="theme-text mb-05">Add ticker</div>
        <div class="flex">
          <input
            id="stockTicker"
            (keyup.enter)="validate()"
            [(ngModel)]="tickerSymbol"
            class="text-box"
            type="text"
            placeholder="Stock Symbol"
          />
          <button (click)="validate()" class="button add-button">Add</button>
        </div>
      </div>

      <div class="stock-search-section mb-2">
        <div class="theme-text mb-05">Search stock</div>
        <div class="flex">
          <input
            id="stockTickerSearch"
            (keyup)="searchTicker()"
            [(ngModel)]="tickerSearchText"
            class="text-box"
            type="text"
            placeholder="Search"
          />
          <button (click)="searchTicker()" class="button search-button">
            <img height="20" src="assets/loupe-light.svg" />
          </button>
        </div>
        <div *ngIf="searchResults.length > 0" class="search-results">
          <div
            class="theme-text each-result"
            *ngFor="let eachResult of searchResults"
            (click)="validate(eachResult.symbol)"
          >
            {{ eachResult.symbol }} - {{ eachResult.name }}
          </div>
        </div>
      </div>

      <div *ngIf="graphArr.length > 0" class="stock-list">
        <div class="theme-text mb-05">Stocks list</div>
        <ul>
          <li
            class="each-stock flex flex-align-center"
            *ngFor="let each of graphArr"
          >
            <div class="full-width flex flex-col">
              <div>{{ each.tickerSymbol }}</div>
              <div class="company-price">{{ each.stockValue }}</div>
              <div class="company-name">{{ each.companyName }}</div>
            </div>
            <div>
              <span
                *ngIf="!darkTheme"
                class="pointer close-icon"
                (click)="deleteStock(each)"
                >⊗</span
              >
              <span
                *ngIf="darkTheme"
                class="pointer close-icon"
                (click)="deleteStock(each)"
                >⊗</span
              >
            </div>
          </li>
        </ul>
      </div>

      <div class="flex flex-center" *ngIf="barChartLabels.length">
        <button (click)="clearAll()" class="clear-all button">Clear All</button>
      </div>
    </div>
    <div class="flex flex-center flex-col graph-container">
      <!-- height='450px' width='600px' -->
      <div class="bar-chart flex flex-center flex-align-center">
        <canvas
          *ngIf="barChartLabels.length"
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        ></canvas>

        <div
          *ngIf="barChartLabels.length == 0"
          class="flex flex-col flex-center no-data"
        >
          <img *ngIf="!darkTheme" src="assets/cancel-dark.svg" />
          <img *ngIf="darkTheme" src="assets/cancel-light.svg" />
          No data
        </div>
      </div>
    </div>
  </div>
</div>
